<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">New Payment Method</h4></span>

	<%= render 'form', payment_method: @payment_method %>

	<%= link_to 'Back', payment_methods_path %>
</div>