<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">New Feed</h4></span>

<%= render 'form', feed: @feed %>

<%= link_to 'Back', feeds_path %>
</div>