<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">New Vaccine</h4></span>

	<%= render 'form', vaccine: @vaccine %>

	<%= link_to 'Back', vaccines_path %>
</div>