<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Editing Bird Category</h4></span>

	<%= render 'form', bird_category: @bird_category %>

	<%= link_to 'Show', @bird_category %> |
	<%= link_to 'Back', bird_categories_path %>
</div>